<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhcar"
    android:versionCode="1"
    android:versionName="1.0"
    >
<!-- android:sharedUserId="android.uid.system" -->
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
 	
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.zhcar.base.BaseApplication"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
       <!--  <activity
            android:name="com.zhcar.permission.MainActivity"
            android:label="@string/app_name" 
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <activity
            android:name="com.zhcar.icall.ICallActivity"
            android:label="@string/call_service" 
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhcar.check.CheckActivity"
            android:label="@string/app_check" 
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        
        <receiver android:name="com.zhcar.receiver.BtStateReceiver">
            <intent-filter >
                <action android:name="com.zhonghong.bluetooth.BROADCAST_BT_DEVICE_STATE"/>
            	<action android:name="com.zhonghong.bluetooth.BROADCAST_CALLSTATE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhcar.receiver.PermissionReceiver">
            <intent-filter >
                <action android:name="com.tima.Permission"/>
            </intent-filter>
        </receiver>
        
         <receiver android:name="com.zhcar.phonestate.PhoneReceiver">
            <intent-filter> 
                <action android:name="android.intent.action.PHONE_STATE"/> 
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> 
            </intent-filter>
        </receiver>
        
         <receiver android:name="com.zhcar.receiver.USBStateReceiver"
            android:exported="false">
            <intent-filter >
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_EJECT"/>
                
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        
        <!-- 外部aidl service 不能修改任何关键字-->
        <service android:name="com.yc.external.AidlService">
            <intent-filter >
            	<action android:name="com.yc.external.AidlService" />
            </intent-filter>
        </service>
        
        <!-- 自定义ContentProvider -->
        <provider
            android:name="com.zhcar.provider.CarProvider"
            android:authorities="cn.com.semisky.carProvider" 
            android:exported="true">
        </provider>
    </application>

</manifest>
